<launch>
  <arg name="topic" default="/rpi/rgb/image_raw" />
  <arg name="bag"/>
  
  <node pkg="rosbag" type="play" name="rosbag" required="true" args="/home/sagar/personal_ws/src/Bag/UAV/Rosbags/watertesting/$(arg bag).bag"/>
  <node pkg="image_transport" type="republish" name="image_transport" required="true" args="compressed _image_transport:=compressed in:=/rpi/rgb/image_raw out:=/rpi/rgb/image_raw" />
  <node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
    <remap from="image" to="$(arg topic)"/>
  </node>
</launch>

