<?xml version="1.0"?>
<launch>
    
    <!--Autonomous Land-->
    <node name="Manual_Takeover" pkg="offboard_py" type="manual_takeover.py" required="true" output="screen" />
    <node name="PIDControls" pkg="offboard_py" type="pid_controls_artag_rpi.py" required="true" output="screen" />

</launch>