<?xml version="1.0"?>
<launch>
    
    <!--Kevin-->
    <!--Autonomous Takoeff-->
    <!-- <node name="Fly_to_WP" pkg="offboard_py" type="fly_to_minion.py" required="true" output="screen" /> -->

    <!--Manual Takeover-->
    <!-- <node name="takeover" pkg="offboard_py" type="manual_takeover.py" required="true" output="screen" /> -->

    <!--AUtonomous Landing-->
    <!-- <node name="pid_controls" pkg="offboard_py" type="pid_controls_artag_rpi.py" required="true" output="screen" /> -->

    <!--Simulation-->
    <!--Autonomous Takoeff-->
    <node name="Fly_to_WP" pkg="offboard_py" type="fly_to_minion.py" required="true" output="screen" />

    <!--AUtonomous Landing-->
    <node name="pid_controls" pkg="offboard_py" type="pid_controls_artag.py" required="true" output="screen" />

</launch>